<section id="blog" class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="blog__title">Latest Blog</h2>
            </div>
            <div class="col-md-12">
                <ul class="blog__list">
                    <li class="blog__list_item"><a href="#">all</a></li>
                    <li class="blog__list_item"><a class="active" href="#">reviews</a></li>
                    <li class="blog__list_item"><a href="#">looks</a></li>
                    <li class="blog__list_item"><a href="#">lifestyle</a></li>
                    <li class="blog__list_item"><a href="#">tips</a></li>
                    <li class="blog__list_item"><a href="#">tutorial</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="blog__post">
                    <div class="blog__post_img"><img src="static/img/blog-img1.jpg" alt="company people"></div>
                    <p class="blog__post_descr">Hollywood Hairstyles Do Not Require A Trip To A High Priced<br> Salon Or Beautician</p>
                    <span class="blog__post_author">Eugenia Frank / April 22</span></div>
            </div>
            <div class="col-md-4">
                <div class="blog__post">
                    <div class="blog__post_img"><img src="static/img/blog-img2.jpg" alt=""></div>
                    <p class="blog__post_descr">Forehead Lift Brow Lift Temporal Lift For
                        Head Rejuvenation</p>
                    <span class="blog__post_author">Eugenia Frank / April 22</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="blog__post">
                    <div class="blog__post_img"><img src="static/img/blog-img3.jpg" alt="company people"></div>
                    <p class="blog__post_descr">HBreast Enlargement Exercises Cheapest
                        Inborn Sense Promoting Breast Lump</p>
                    <span class="blog__post_author">Eugenia Frank / April 22</span></div>
            </div>
            <div class="col-md-4">
                <div class="blog__post">
                    <div class="blog__post_img"><img src="static/img/blog-img4.jpg" alt=""></div>
                    <p class="blog__post_descr">Curling Irons Are As Individual As The Women
                        Who Use Them</p>
                    <span class="blog__post_author">Eugenia Frank / April 22</span></div>
            </div>
            <div class="col-md-4">
                <div class="blog__post">
                    <div class="blog__post_img"><img src="static/img/blog-img5.jpg" alt=""></div>
                    <p class="blog__post_descr">Hollywood Hairstyles Do Not Require A Trip
                        To A High Priced Salon Or Beautician</p>
                    <span class="blog__post_author">Eugenia Frank / April 22</span></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2">
                <div class="blog__btn">
                    <button class="btn">See More</button>
                </div>
            </div>
        </div>
    </div>
</section>