<section id="channel" class="channel">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="channel__title">Channel</h2>
            </div>
            <div class="col-md-12">
                <p class="channel__subtitle">Vastly improved treatments and increased social</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="channel__video">
                    <video src="https://youtu.be/mApewKDAGsE" width="640" height="360" poster="static/img/video-poster.jpg" controls="controls"></video>
                    <a href="#" class="btn channel__video_btn">More video</a>
                </div>
            </div>
        </div>
    </div>
</section>