<section id="contact" class = "contact">
	<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-2">
            <h2 class="contact__title">Contact</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12">
            <p class="contact__subtitle">Vastly improved treatments and increased social</p>
        </div>
    </div>
    <div class="row">
			<div class="col-md-4 col-sm-12">
				<div class="contact__item">
					<div class="contact__item_icon">
						<svg>
							<use xlink:href='static\img\svg\symbol\sprite.svg#address'>
						</svg>
					</div>
					<div class="contact__item_content">
						<p class="contact__item_title">Address</p>
						<p class="contact__item_info">27 Ba trieu St.Hue, Vietnam</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="contact__item">
					<div class="contact__item_icon">
						<svg>
							<use xlink:href='static\img\svg\symbol\sprite.svg#phone'>
						</svg>
					</div>
					<div class="contact__item_content">
						<p class="contact__item_title">Phone number</p>
						<p class="contact__item_info">+84 90 658 2725</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="contact__item">
					<div class="contact__item_icon">
						<svg>
							<use xlink:href='static\img\svg\symbol\sprite.svg#mail'>
						</svg>
					</div>
					<div class="contact__item_content">
						<p class="contact__item_title">Email contact</p>
						<p clasjinoteams="contact__item_info">junoteamvn@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>