<section id="gallery" class="gallery">
    <div class="gallery__slider">
        <div class="gallery__slider_item">
            <img src="static/img/gallery-img1.jpg " alt="">
            <div class="gallery__slider_content">
                <p>Step <i class="fas fa-heart"></i></p>
                <p>Have you ever wondered if what you know about herbal breast enlargement is accurate? Consider the following paragraphs and compare what you know to the latest info on herbal breast enlargement. Women are often not happy with their breast size...</p>
            </div>
        </div>
        <div>
            <img src="static/img/gallery-img1.jpg" alt="">
        </div>
        <div class="gallery__slider_item">
            <img src="static/img/gallery-img1.jpg" alt="">
        </div>
    </div>
    <div class="gallery__buttons">
    </div>
</section>