<header id="header" class="header">
	<div class="container">
		<div class="row header__top">
			<div class="col-lg-6 col-md-8 col-sm-12 justify-content-center">
				<div class="header__contact">
					<div class="header__contact_phone">
						<i class="fa fa-phone"></i>
						<a href="tel:+84906582725">+84 90 658 2725</a>
					</div>
					<div class="header__contact_address">
						<i class="fas fa-map-marker-alt"></i>
						<a href="#">27 Ba Trieu St, Vietnam</a>
					</div>		
				</div>
			</div>
			<div class="col-lg-6 col-md-4 col-sm-12">
				<div class="header__top_social">
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-youtube"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fas fa-headphones"></i></a>
				</div>
			</div>
		</div>
		<div class="row align-items-center header__main">
			<div class="col-md-2 col-sm-12">
				<div class="row align-items-center">
					<div class="col-6">
						<div class="logo"><img src="static\img\logo.png" alt="Posh"></div>
					</div>
					<div class="col-6">
						<div class="burger"><i class="fas fa-bars"></i></div>
					</div>
				</div>


			</div>
			<div class="col-md-10 col-sm-12">
				<nav class="menu">
					<ul class="menu__list">
						<li class="menu__list_item"><a href="#">Home</a></li>
						<li class="menu__list_item"><a href="#service">Service</a></li>
						<li class="menu__list_item"><a href="#gallery">Gallery</a></li>
						<li class="menu__list_item"><a href="#channel">Channel</a></li>
						<li class="menu__list_item"><a href="#blog">Blog</a></li>
						<li class="menu__list_item"><a href="#team">Team</a></li>
						<li class="menu__list_item"><a href="#contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col header__bottom">
				<div class="header__slider">
					<div>
						<h1 class="header__slider_title">It’s <span>Fun</span> To Make Things Up</h1>
						<p class="header__slider_subtitle">Have you ever wondered if what you know about herbal breast enlargement is accurate?</p>
						<div class="header__slider_buttons">
							<button class="btn">About Us</button>
							<button class="btn"><span>Watch Video</span></button>	
						</div>
					</div>
					<div>
						<h1 class="header__slider_title">It’s Fun To Make Things Up</h1>
						<p class="header__slider_subtitle">Have you ever wondered if what you know about herbal breast enlargement is accurate?</p>
						<div class="header__slider_buttons">
							<button class="btn">About Us</button>
							<button class="btn">Watch Video</button>
						</div>
					</div>
					<div>
						<h1 class="header__slider_title">It’s Fun To Make Things Up</h1>
						<p class="header__slider_subtitle">Have you ever wondered if what you know about herbal breast enlargement is accurate?</p>
						<div class="header__slider_buttons">
							<button class="btn">About Us</button>
							<button class="btn">Watch Video</button>
						</div>
					</div>
					<div>
						<h1 class="header__slider_title">It’s Fun To Make Things Up</h1>
						<p class="header__slider_subtitle">Have you ever wondered if what you know about herbal breast enlargement is accurate?</p>
						<div class="header__slider_buttons">
							<button class="btn">About Us</button>
							<button class="btn">Watch Video</button>
						</div>
					</div>
					<div>
						<h1 class="header__slider_title">It’s Fun To Make Things Up</h1>
						<p class="header__slider_subtitle">Have you ever wondered if what you know about herbal breast enlargement is accurate?</p>
						<div class="header__slider_buttons">
							<button class="btn">About Us</button>
							<button class="btn">Watch Video</button>
						</div>
					</div>
				</div>
				<span class="header__slider_dots"></span>
			</div>
		</div>
	</div>
</header>