<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="service__top">
                    <h2 class="service_top_title">Our Services</h2>
                    <p class="service_top_subtitle">Vastly improved treatments and increased social acceptance has lead to cosmetic</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="service__list">
                    <li class="service__list_item">
                        <svg>
                            <use xlink:href='static\img\svg\symbol\sprite.svg#document-2'>
                        </svg>
                        <span>About</span>
                    </li>
                    <li class="service__list_item">
                        <svg>
                            <use xlink:href='static\img\svg\symbol\sprite.svg#heart'>
                        </svg>
                        <span>Wedding</span>
                    </li>
                    <li class="service__list_item">
                        <svg>
                            <use xlink:href='static\img\svg\symbol\sprite.svg#wedding-cake'>
                        </svg>
                        <span>Party</span>
                    </li>
                    <li class="service__list_item">
                        <svg>
                            <use xlink:href='static\img\svg\symbol\sprite.svg#shopping-bag'>
                        </svg>
                        <span>Beauty Box</span>
                    </li>
                    <li class="service__list_item">
                        <svg>
                            <use xlink:href='static\img\svg\symbol\sprite.svg#notebook'>
                        </svg>
                        <span>Cours</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="service__image">
                    <div class="service__image_bg">
                        <img src="static/img/service-img.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="service__text">
                    <h3 class="service__text_title">To Keep Makeup Looking Fresh
                        Take A Powder</h3>
                    <p class="service__text_info">Hydroderm is the highly desired anti-aging cream on the block. This serum restricts the occurrence of early aging sings on the skin and keeps the skin younger, tighter and healthier.</p>
                    <div class="service__text_link">
                        <a href="#">Learn more</a>
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>